/* Class da div com este nome */
.footer-center{
    font-size: 16px;
    text-align: center;
    padding: 30px 0px;
}

/* Para as duas referências "a" */
.footer-center a{
    color: rgb(82, 66, 0);
    text-decoration: none;
    padding: 10px;
}

/* Quando passar por cima das palavras */
.footer-center a:hover {
    color: #000;
    font-weight: Bold;
}